{% extends 'base.html' %}
{% block content %}
    <form action="/user-info" method="post">        
        <table>
        <tbody>
                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input id="username" input type="text" name="username" value='{{username}}' />                        
                    </td>     
                    <td>
                    {% if name_error %}
                    
                        <span class="error">{{name_error}}</span>         
                    {% endif %} 
                    </td>     
                </tr>              
                                  
                <tr>
                    <td>
                    <label for="password">Password</label>
                    </td>
                    <td>
                    <input id="password" input type="password" name="password" />
                    </td>
                    
                    {% if pw_error %}
                    <td>
                        <span class="error">{{pw_error}}</span>                
                    </td>
                    {% endif %}  
                   
                </tr>
                <tr>
                    <td>
                    <label for="verifypassword">Verify Password</label>
                    </td>
                    <td>
                        <input id="verifypassword" input type="password" name="verifypassword" />
                    </td>
                    
                    {% if verify_error %}
                    <td>
                        <span class="error">{{verify_error}}</span>                  
                    </td>
                    {% endif %}  
                    
                </tr>
                <tr>
                    <td>
                    <label for="email">Email (optional)</label>
                    </td>
                    <td>          
                    <input id="email" input type="text" name="email" value='{{email}}'/>                   
                    </td>
                    {% if email_error %}
                    <td>
                        <span class="error">{{email_error}}</span>               
                    </td>
                    {% endif %} 
                </tr>
        </tbody>
        </table>
        <input type="submit" />        
    </form>

{% endblock %}